<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ADALServiceURL" value="https://login.microsoftonline.com" />             <!-- Service root URL for ADAL authentication service WITH NO TRAILING SLASH! -->
    <add key="ADALRedirectURL" value="https://localhost/" />                           <!-- Redirect URL for ADAL authentication service MUST MATCH YOUR AAD APP CONFIGURATION! -->
    <add key="ARMBillingServiceURL" value="https://management.azure.com" />            <!-- Service root URL for ARM/Billing service WITH NO TRAILING SLASH!  -->
    <add key="TenantDomain" value="{INSERT Tenant Domain here}" />                                     <!-- DNS name for your Azure AD tenant -->
    <add key="SubscriptionID" value="{INSERT YOUR AZURE SUBSCRIPTION ID HERE}" />          <!-- GUID of Azure Subscription that is trusting AAD tenant specified above -->
    <add key="ClientId" value="{INSERT YOUR AD CLIENT ID HERE}" />                <!-- GUID for AAD application configured as Native Client App in AAD tenant specified above -->

    <!-- If you've created an Service Account -->
    <add key="AppKey" value="{INSERT YOUR AZURE APP KEY HERE}" />
    <add key="ClientID2" value="{INSERT YOUR AD CLIENT ID HERE}" />
    
    <add key="SendGridApiKey" value="{INSERT SENDGRID API KEY HERE}" />
    <add key="BillingEmailSender" value="{INSERT AN SENDER HERE}" />
    <add key="BillingEmails" value="{INSERT DESTINATION EMAIL HERE USING '|'}" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
